<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b4150a26b3.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="css/cifrado1.css">
    <title>Cifrado AES </title>
</head>
<body>
<a href="javascript:history.go(-1)">Regresar</a>  
<div class="main-container">
    <div class="">
        <form>
            <h2>Selecciona el archivo a encriptar</h2>
            <br><input type="file" id="archivo1" />
            <br><input type="password" placeholder="Intoduce la contraseña" id='contraseña' maxlength="24" minlength="24" ></td>
            <br><input type="button" onclick="encriptar()" value="Cifrar" id="enviar">
            <td>&nbsp;<input class="btn btn-primary" type="button" value="Descifrar" onclick="desencriptar()">
            </form> 
 <div class="vis" id="visualizar"></div>
    </div>
</div>
<script src="js/cifrado2.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</body>
</html>