<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b4150a26b3.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="css/cifrado1.css">
    <title>Cifrado AES </title>
</head>
<body>
    <div class="main-container">
        <div class="">
            <form>
                <h2>Selecciona el archivo a encriptar</h2>
                <br><input type="file" id="archivo1" />
                <br><br><input type="password" placeholder="Intoduce la contraseña" id='contraseña' maxlength="32" minlength="32" ></td>
                <br><br><input type="button" onclick="encriptar()" value="Cifrar" id="enviar">
                <td>&nbsp;<input class="btn btn-primary" type="button" value="Descifrar" onclick="desencriptar()">
                </form> 
                <br>
    <div class="vis" id="visualizar"></div>
        </div>
    </div>
    <a href="javascript:history.go(-1)">Regresar</a>  
    <br>
    <br>
    <div>
        <footer>
                Granados Martínez Pablo Daniel
                <br>
                Hernández Martínez Brian Arturo
        </footer>
    </div>
    <script src="js/cifrado3.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</body>
</html>